<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t(".placeholder") %>
  </div>
  <%= f.submit t(".submit"), class: "btn btn-primary" %>
  <span class="image">
    <%= f.file_field :image, accept: Settings.micropost.image.content_types.join(",") %>
  </span>
<% end %>
